@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.link-underline-color {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#38bdf8, #38bdf8)
}

a:hover .link-underline,
.link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%
}

*::selection {
    color: rgb(255, 45, 45);
}

.typing-text:after {
    color: rgb(255, 118, 118);
}

.avatar-border {
    width: 13.5rem;
    height: 13.5rem;
}

.square {
    margin-right: 100px;
    width: 60px;
    height: 60px;
    border-width: 4px;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe,
    inset 0 0 1.3rem #bc13fe; 
    
}

.circle {
    width: 60px;
    height: 60px;
    border-width: 4px;
    border-radius: 50%;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe,
    inset 0 0 1.3rem #bc13fe; 
}
