@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Sen";
    src: url("./assets/fonts/Sen-Bold.eot");
    src: url("./assets/fonts/Sen-Regular.woff") format("woff"),
    url("./assets/fonts/Sen-Regular.svg") format("svg");
}

@font-face {
    font-family: "Sen";
    src: url("./assets/fonts/Sen-ExtraBold.eot");
    src: url("./assets/fonts/Sen-Bold.woff") format("woff"),
    url("./assets/fonts/Sen-Bold.svg") format("svg");
    font-weight: bold;
}

@layer base {
    html {
      font-family: Sen, sans-serif;
    }
  }

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    ;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 45, 45);
}

*::selection {
    color: rgb(255, 45, 45);
    background-color: rgb(65, 65, 65);
}

.typing-text:after {
    color: rgb(255, 118, 118);
}